/* -----------------------
----- Basic styles -------
------------------------*/

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
}

:root {
  --orange: #F16718;
  --light-orange: #FF9B62;
  --dark-blue: #162542;
  --blue: #7B8BAD;
  --light-blue: #E8EFF2;
  --white: #FFFFFF;
}

body {
  font-family: 'Barlow', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0 auto;
  padding: 0;  
}

h1,
h2,
h3 {
  color: var(--dark-blue);
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4.8rem;
  margin-bottom: 3.5rem;
}

h2 {
  font-size: 3.6rem;
  margin-bottom: 2.2rem;
}

h3 {
  font-size: 2.8rem;
  text-align: center;
}

h4 {
  color: var(--blue);
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  color: #7B8BAD;
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  border-radius: 1rem;
}

/* -----------------------
----- Button styles ------
------------------------*/

button {
  font-size: 1.6rem;
  font-weight: 900;
  color: var(--dark-blue);
  text-transform: uppercase;
  background-color: var(--light-blue);
  border: none;
  padding: 1.6rem 1.6rem;
  border-radius: 1rem;
  display: block;
  transition: all .4s ease-in-out;
  cursor: pointer;
}

button:hover {
  color: var(--white);
  background-color: var(--dark-blue);
}

.orange {
  color: var(--white);
  background-color: var(--orange);
}

.orange:hover {
  background-color: var(--light-orange);
}

/* -----------------------
-------- Header ----------
------------------------*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2.6rem 6vw 6rem;
}

header img {
  border-radius: 0;
}

/* -----------------------
------ Grid section ------
------------------------*/

.grid {
  margin-bottom: 11.4rem;
}

.main-info {
  margin-left: 6vw;
  margin-right: 6vw;
  margin-bottom: 6.4rem;
  max-width: 32.7rem;
}

.main-info p {
  margin-bottom: 3.5rem;
}

.button-release {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-keyboard {
  margin-bottom: 2.4rem;
}

.image-keyboard-mobile {
  border-radius: 1rem;
  width: 100vw;
  transform: translateX(6vw);
}

.flex-image {
  display: flex;
  transform: translateX(-6vw);
}

.image-phone-and-keyboard {
  background-color: #F16718;
  margin-right: 2.4rem;
  border-radius: 1rem;
}

.image-phone-and-keyboard-mobile {
  mix-blend-mode: multiply;
}

h2,
.info-p {
  text-align: center;
  margin-left: 2.4rem;
  margin-right: 2.4rem;
}

h2 {
  margin-top: 7.9rem;
}

.info-p {
  max-width: 33rem;
  margin-left: auto;
  margin-right: auto;
}

.info-h2-tablet,
.info-p-tablet,
.image-keyboard-tablet,
.image-keyboard-desktop,
.image-phone-and-keyboard-tablet,
.image-phone-and-keyboard-desktop,
.image-glass-and-keyboard-tablet,
.image-glass-and-keyboard-desktop {
  display: none;
}

/* -----------------------
---- Flexbox section -----
------------------------*/

.flex {
  margin-bottom: 10rem;
}

.flex > div {
  max-width: 33rem;
  margin: 0 auto;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--orange);
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 1rem;
  margin: 6.7rem auto 5rem;
}

.icon {
  display: block;
  margin: auto;
}

.flex h3 {
  margin-bottom: 2.3rem;
}

.flex p {
  text-align: center;
}

/* -----------------------
-------- Footer ----------
------------------------*/

footer {
  margin-bottom: 5.3rem;
}

footer p {
  text-align: center;
}

/* -----------------------
----- Tablet styles ------
------------------------*/

@media screen and (min-width: 750px) {

  body {
    margin: 0 auto;
  }

  /* -----------------------
  ------ Grid section ------
  ------------------------*/
  .info,
  .image-keyboard-mobile,
  .image-keyboard-desktop,
  .image-phone-and-keyboard-mobile,
  .image-phone-and-keyboard-desktop,
  .image-glass-and-keyboard-mobile,
  .image-glass-and-keyboard-desktop
   {
    display: none;
  }

  .image-keyboard-tablet,
  .image-phone-and-keyboard-tablet,
  .image-glass-and-keyboard-tablet,
  .info-h2-tablet,
  .info-p-tablet {
    display: block;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 42.5rem 32rem 24rem;
    align-items: center;
    justify-items: start;
    margin-bottom: 0;
  }

  .main-info {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .image-keyboard {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    
    margin: 0;
    transform: translateX(10rem);
  }

  .flex-image {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    transform: translateX(0vw);
    margin: 0 6vw;
  }
  
  .image-phone-and-keyboard-tablet {
    mix-blend-mode: multiply;
  }

  h2 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin-top: 0;
    margin-left: 6vw;
    font-size: 3.2rem;
    text-align: left;
  }

  .info-p-tablet {
    grid-column: 2 / 5;
    grid-row: 3 / 4;
    margin-right: 6vw;
    margin-left: 5rem;
    text-align: left;
  }

  /* -----------------------
  ---- Flexbox section -----
  ------------------------*/  

  .flex {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15rem;
  }
  
  .flex > div {
    max-width: 28rem;
    margin-right: 5.8rem;
    
  }

  .icon-box {
    margin-left: 0;
  }

  .flex h3,
  .flex p {
    text-align: left;
  }

}

/* -----------------------
---- Desktop styles ------
------------------------*/

@media screen and (min-width: 990px) {

  body {
    margin: 0 auto;
    max-width: 1440px;
  }

  header {
    margin: 5.5rem 16.5rem 8.3rem;
  }

  /* -----------------------
  ------ Grid section ------
  ------------------------*/
  .info-h2-tablet,
  .info-p-tablet,
  .image-keyboard-mobile,
  .image-keyboard-tablet,
  .image-phone-and-keyboard-mobile,
  .image-phone-and-keyboard-tablet,
  .image-glass-and-keyboard-mobile,
  .image-glass-and-keyboard-tablet {
    display: none;
  }

  .image-keyboard-desktop,
  .image-phone-and-keyboard-desktop,
  .image-glass-and-keyboard-desktop {
    display: block;
  }

  .grid {
    display: grid;
    grid-template-columns: 16.5rem 1fr 1fr 1fr 1fr 16.5rem;
    grid-template-rows: 1fr 1fr;
    gap: 2.4rem 0;
  }

  .main-info {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    margin: 0;
  }

  .image-keyboard {
    grid-row: 1 / 2;
    grid-column: 4 / 6;
    transform: translateX(0);
  }

  .blue-box-1 {
    grid-row: 1 / 2;
    grid-column: 6 / 7;
    align-self: start;
    height: 24rem;
    width: 25.5rem;
    background-color: var(--light-blue);
    border-radius: 1rem;
    transform: translateX(6rem);
  }

  .blue-box-2 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    align-self: end;
    height: 24rem;
    width: 25.5rem;
    background-color: var(--light-blue);
    border-radius: 1rem;
    transform: translateX(-12rem);
  }

  .flex-image {
    grid-row: 2 / 3;
    grid-column: 2 / 5;
  }

  .image-phone-and-keyboard-desktop {
    mix-blend-mode: multiply;
  }

  .info {
    grid-row: 2 / 3;
    grid-column: 5 / 6;
  }

  .info h2 {
    margin: 0;
    margin-bottom: 2.5rem;
  }

  .info p {
    margin: 0;
  }

  /* -----------------------
  ---- Flexbox section -----
  ------------------------*/

  .flex {
    flex-wrap: nowrap;
    margin-left: 16.5rem;
    margin-right: 16.5rem;
    margin-bottom: 13.5rem;
  }

  .flex > div {
    margin-right: 3rem;
  }

  .flex > div:last-child {
    margin-right: 0;
  }

  h3 {
    font-size: 2.4rem;
  }
  

}